numpy==1.26.4
pandas
scikit-learn
xgboost
lightgbm
catboost
joblib
matplotlib
seaborn
streamlit
geopandas
pyarrow
fpdf
openpyxl
shap==0.45.0
ipython
PyPDF2>=3.0
plotly>=5.19
kaleido>=1.0.0       




  






